.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj
!Examples/iOSDemo/iOSDemo.xcodeproj
!Examples/iOSDemoObjC/iOSDemoObjC.xcodeproj
_codeql_detected_source_root
